@{
    
    Page.Title = "Logout";    

    SessionVars.user = "";
    SessionVars.isAuthenticated = false;
}

<div>
    <h1 style="float:right; margin-right:40%">You have logged out...</h1>
</div>
